---
import Container from "@components/container.astro";
// import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Services",
    path: "/services",
    children: [
      { title: "Data Visualization", path: "/dataviz" },
      { title: "Data Management", path: "/dba" },
      { title: "DevOps", path: "/devops" },
      { title: "Web Development", path: "/webdev" },
      { title: "IT Consulting", path: "/it-support" },
    ],
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800 dark:text-slate-200">not</span
          ><span class="text-slate-500 dark:text-slate-500">Akrista</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800 dark:text-gray-200" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <!-- <Link
            href="https://dash.notakrista.com"
            style="muted"
            block
            size="md"
          >
            Admin
          </Link> -->
          <!-- <Link href="#" size="md" block>Sign up</Link> -->
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <!-- <a href="https://dash.notakrista.com" style="muted">Admin</a> -->
        <!-- <Link href="#" size="md">Sign up</Link> -->
      </div>
    </div>
  </header>
</Container>
