<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} notAkrista. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    <a href="https://upptime.notakrista.com" target="_blank"
      >Check Web Services Status</a
    >
  </p>
</footer>
