---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Build with the best in tech</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://astro.build/"
      ><Icon class="h-8 md:h-12" name="simple-icons:astro" /></a
    >
    <a href="https://www.docker.com/"
      ><Icon class="h-8 md:h-12" name="simple-icons:docker" /></a
    >

    <a href="https://www.metabase.com/"
      ><Icon class="h-8 md:h-12" name="simple-icons:metabase" /></a
    >

    <a href="https://www.microsoft.com/es-es/sql-server/"
      ><Icon class="h-8 md:h-12" name="simple-icons:microsoftsqlserver" /></a
    >

    <a href="https://www.mysql.com/"
      ><Icon class="h-8 md:h-12" name="simple-icons:mysql" /></a
    >

    <a href="https://www.postgresql.org/"
      ><Icon class="h-8 md:h-12" name="simple-icons:postgresql" /></a
    >
  </div>
</div>
